[submodule "Selene"]
	path = src/selene
	url = https://github.com/Vexatos/Selene.git
	branch = lua5.1
[submodule "luajit-request"]
	path = src/luajit-request
	url = https://github.com/Vexatos/luajit-request.git
	branch = master
